body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  color: #000000 ;
  font-family: sans-serif;
  background-image: radial-gradient(circle at 37.72% -19.64%, #8ca67e 0, #7a9c74 25%, #639067 50%, #4b845c 75%, #347a55 100%);
  background-attachment: fixed;
  animation: cambiarColor 2s ease-in alternate infinite;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title-container{
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 15px;
}

.container-principal{
  width: 500px;
  min-height: 400px;
  padding: 25px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.4);
  align-items: center;
  align-content: center;
  box-shadow: 10px 10px 33px -1px rgba(0,0,0,0.50);
}