body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  color: #000000 ;
  font-family: sans-serif;
  background-image: linear-gradient(130deg, #fff6fe 0, #f8eaf8 16.67%, #efdff3 33.33%, #e5d3ef 50%, #d9c8eb 66.67%, #cdbde8 83.33%, #bfb4e6 100%);
  background-attachment: fixed;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title-container{
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 15px;
}

.title-container h1{
  font-family: 'DM Mono', monospace;
}

.container-principal{
  width: 500px;
  height: 420px;
  padding: 25px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  align-items: center;
  align-content: center;
  box-shadow: 10px 10px 33px -1px rgba(0,0,0,0.50);
}