.container-form{
    width:400px;
    min-height: 35px;
    background-color: #fff;
    margin:5px 0;
    padding: 6px 10px 6px 15px;
    border-radius: 7px;
    flex-wrap: wrap;
    color: #26251c;
    display: flex;
    align-items: center; 
    gap: 5px;
    transition: all 0.1s ease;
    border: solid #fff;
}

.container-form:focus-within{
    border: solid #a0e8b7;
}

.container-icons-form{
    display: flex;
    flex-direction: row ;
    align-items: center; 
    justify-content: center;
    gap: 5px;
    font-size: 10px;
    color: #26251c;
    width: 100%;
    font-family: 'Encode Sans', sans-serif;
}

.priority1-name{
    color: #ff0000;
}

.priority2-name{
    color: #ffa500;
}

.priority3-name{
    color: #008000;
}

.input-text{
    width: 80%;
    min-height: 25px;
    border: none;
    cursor: text;
    outline: none;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 250;
    font-size: 13px;
}

.button-form{
    width: 15%;
    min-height: 25px;
    background-color: #a0e8b7;
    border: 1px solid #78bc38;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'DM Mono', monospace;
}

.button-form:hover{
    background-color: #75ef9c;
}