.task-container{
    width:400px;
    min-height: 30px;
    max-height: 450px;
    background-color: #ddf5e3;
    margin:5px 0;
    padding: 6px 10px 6px 15px;
    border-radius: 7px;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center; 
    gap: 5px;
}

.completed{
    text-decoration: line-through;
}

.priority-1{
    border: 2px solid #f08282;
}
.priority-2{
    border: 2px solid #efcb6f;
}
.priority-3{
    border: 2px solid #047e21;
}
.task{
    width: 94%;
    height: 100%;
    font-size:13px;
    display: flex; 
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
    word-break: break-all;
    color: #030303;
}

.container-icon-start{
    width: 6%;
    max-height: 450px;
    font-size: 20px;
    display: flex; 
    justify-content: right;
    cursor: pointer;
    flex-direction: row;
    gap: 5px;
    color: #fff;
    font-weight: bolder;
}

.container-icon-check{
    width: 6%;
    max-height: 450px;
    font-size: 20px;
    justify-content: left;
    display: flex; 
    color: #ada9a2;
    cursor: pointer;
    flex-direction: row;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.container-icon-check:hover{
    color: #418356;
}

.icon-check.completed{
    color: #418356;
}

.container-icons-end{
    max-height: 450px;
    display: flex; 
    align-content: center;
    justify-content: right;
    cursor: pointer;
    flex-direction: row;
    gap: 5px;
    color: #fff;
    font-weight: bolder;
}

.container-icon-delete{
    font-size: 15px;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.container-icon-delete:hover{
    color:#ea2a15;
}

.container-icon-edit{
    font-size: 14px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.container-icon-edit:hover{
    color:#030303;
}