.task-container{
    width:400px;
    min-height: 30px;
    max-height: 450px;
    margin:5px 0;
    background-color: #fff;
    padding: 6px 10px 6px 15px;
    border-radius: 7px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 5px;
    font-family: 'DM Mono', monospace;
    font-weight: 250;
}

.completed{
    text-decoration: line-through;
    text-decoration-color: #dee8de;
    text-decoration-style: wavy;
}

.priority-1{
    border: 2px solid #f08282;
    font-family: 'Encode Sans', sans-serif;
}

.priority-2{
    border: 2px solid #efea5d;
}

.priority-3{
    border: 2px solid #6DD500;
}

.task{
    width: 94%;
    height: 100%;
    font-size:13px;
    display: flex; 
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
    word-break: break-all;
    color: #030303;
}

.task.completed{
    text-decoration: line-through;
}

.container-icon-start{
    width: 6%;
    max-height: 450px;
    font-size: 20px;
    display: flex; 
    justify-content: right;
    cursor: pointer;
    flex-direction: row;
    gap: 5px;
    color: #fff;
    font-weight: bolder;
}

.container-icon-check{
    width: 6%;
    max-height: 450px;
    font-size: 20px;
    justify-content: left;
    display: flex; 
    color: #ada9a2;
    cursor: pointer;
    flex-direction: row;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.container-icon-check:hover{
    color: #418356;
}

.icon-check.completed{
    color: #418356;
}

.container-unedited{
    max-height: 350px;
    width: 100%;
    display: flex; 
    align-items: center;
    cursor: pointer;
    place-content: center;
    gap: 5px;
    color: #fff;
    font-weight: bolder;
}

.container-icon-delete{
    justify-content: space-between;
    font-size: 15px;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.container-icon-delete:hover{
    color:#ea2a15;
}

.container-icon-edit{
    font-size: 14px;
    color: #ada9a2;
    transition: all 0.3s ease-in-out;
}

.container-icon-edit:hover{
    color:#030303;
}

.container-toEdit{
    max-height: 350px;
    width: 100%;
    display: flex; 
    align-items: center;
    display: flex;
    cursor: pointer;
    gap: 5px;
    color: #fff;
}

.input-toEdit{
    width: 350px;
    height: 19px;
}

.container-icon-checkEdit{
    font-size: 15px;
    color: #008000;
    transition: all 0.3s ease-in-out;
    place-content: center;
}

.container-icon-checkEdit:hover{
    color: #07d407;
}

.container-icon-closeEdit{
    font-size: 16px;
    color: #ff0000;
    transition: all 0.9s ease-in-out;
    align-items: center;
}

.container-icon-closeEdit:hover{
    color: #f05a5a;
}
